apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "charts-dotnet-core.fullname" . }}
  labels:
    {{- include "charts-dotnet-core.labels" . | nindent 4 }}
  {{- if and .Values.global.certificate.enabled .Values.global.certificate.reloader.enabled }}
  {{- $currentEnv := .Values.global.envVars.ASPNETCORE_ENVIRONMENT | default "" }}
  {{- $allowedEnvs := .Values.global.certificate.reloader.environments }}
  {{- $envList := splitList "," $allowedEnvs }}
  {{- if or (eq $allowedEnvs "") (has $currentEnv $envList) }}
  annotations:
    secret.reloader.stakater.com/reload: "{{ .Values.global.certificate.secretNames }}"
  {{- end }}
  {{- end }}
spec:
{{- if not .Values.global.autoscaling.enabled }}
  replicas: {{ .Values.global.replicaCount }}
{{- end }}
  progressDeadlineSeconds: {{ .Values.global.progressDeadlineSeconds }}
  revisionHistoryLimit: {{ .Values.global.revisionHistoryLimit | default "3" }}
  minReadySeconds: {{ .Values.global.minReadySeconds | default "0"}}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: {{ .Values.global.rollingUpdate.maxSurge | default "50%" }}
      maxUnavailable: {{ .Values.global.rollingUpdate.maxUnavailable | default "50" }} 
  selector:
    matchLabels:
      {{- include "charts-dotnet-core.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        checksum/appsettings-secret: {{ include (print $.Template.BasePath "/appsettings-secret.yaml") . | sha256sum }}
      {{- range $key,$value := .Values.global.podAnnotations }}
        {{ $key }}: {{ $value | quote }}
      {{- end }}
      labels:
        {{- include "charts-dotnet-core.labels" . | nindent 8 }}
    spec:
      {{- if .Values.global.topologySpread }}
      topologySpreadConstraints:
      {{- range .Values.global.topologySpread }}
        - maxSkew: {{ .maxSkew }}
          topologyKey: {{ .topologyKey }}
          whenUnsatisfiable: {{ .whenUnsatisfiable }}
          labelSelector:
            matchLabels:
              app.kubernetes.io/name: {{ include "charts-dotnet-core.name" $ }}
      {{- end }}
      {{- end }}
      {{- if .Values.global.image.imagePullSecret }}
      imagePullSecrets:
        - name: "{{ .Values.global.image.imagePullSecret }}"
      {{- end }}
      {{- if .Values.global.serviceAccount.create }}
      serviceAccountName: {{ include "charts-dotnet-core.serviceAccountName" . }}
      {{- else }}
      serviceAccountName: null
      serviceAccount: null
      {{- end }}
      automountServiceAccountToken: {{ .Values.global.automountServiceAccountToken | default false }}
      securityContext:
        {{- toYaml .Values.global.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.global.securityContext | nindent 12 }}
          image: "{{ .Values.global.image.repository }}/{{ .Values.global.image.name}}:{{ .Values.global.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.global.image.pullPolicy }}
          {{- if .Values.global.image.command }}
          command: {{- toYaml .Values.global.image.command | nindent 12 }}
          {{- end }}
          {{- if .Values.global.image.args }}
          args: {{- toYaml .Values.global.image.args | nindent 12 }}
          {{- end }}
          ports:
          {{- toYaml .Values.global.image.ports | nindent 12 }}
          {{- if .Values.global.monitoring.metrics.enabled }}
          {{- toYaml .Values.global.monitoring.metrics.ports | nindent 12 }}
          {{- end }}
          livenessProbe:
          {{- if .Values.global.image.livenessProbe }}
          {{- toYaml .Values.global.image.livenessProbe | nindent 12 }}

          {{- if not .Values.global.image.livenessProbe.initialDelaySeconds }}
            initialDelaySeconds: 60
          {{- end }}

          {{- if not .Values.global.image.livenessProbe.periodSeconds }}
            periodSeconds: 60
          {{- end }}

          {{- if not .Values.global.image.livenessProbe.timeoutSeconds }}
            timeoutSeconds: 15
          {{- end }}

          {{- if not .Values.global.image.livenessProbe.successThreshold }}
            successThreshold: 1
          {{- end }}

          {{- if not .Values.global.image.livenessProbe.failureThreshold }}
            failureThreshold: 3
          {{- end }}

          {{- else }}
            httpGet:
              path: /
              port: http
            periodSeconds: 60
            timeoutSeconds: 15
            successThreshold: 1
            failureThreshold: 3
          {{- end }}
          
          readinessProbe:
          {{- if .Values.global.image.readinessProbe }}
          {{- toYaml .Values.global.image.readinessProbe | nindent 12 }}

          {{- if not .Values.global.image.readinessProbe.initialDelaySeconds }}
            initialDelaySeconds: 40
          {{- end }}

          {{- if not .Values.global.image.readinessProbe.periodSeconds }}
            periodSeconds: 60
          {{- end }}

          {{- if not .Values.global.image.readinessProbe.timeoutSeconds }}
            timeoutSeconds: 15
          {{- end }}

          {{- if not .Values.global.image.readinessProbe.successThreshold }}
            successThreshold: 1
          {{- end }}

          {{- if not .Values.global.image.readinessProbe.failureThreshold }}
            failureThreshold: 3
          {{- end }}

          {{- else }}
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 40
            periodSeconds: 60
            timeoutSeconds: 15
            successThreshold: 1
            failureThreshold: 3
          {{- end }}
          
          {{- if .Values.global.image.startupProbe }}
          startupProbe:
          {{- toYaml .Values.global.image.startupProbe | nindent 12 }}

          {{- if not .Values.global.image.startupProbe.initialDelaySeconds }}
            initialDelaySeconds: 40
          {{- end }}

          {{- if not .Values.global.image.startupProbe.periodSeconds }}
            periodSeconds: 60
          {{- end }}

          {{- if not .Values.global.image.startupProbe.timeoutSeconds }}
            timeoutSeconds: 15
          {{- end }}

          {{- if not .Values.global.image.startupProbe.successThreshold }}
            successThreshold: 1
          {{- end }}

          {{- if not .Values.global.image.startupProbe.failureThreshold }}
            failureThreshold: 3
          {{- end }}
          {{- end }}

          {{- if or .Values.global.envVarsEnabled .Values.global.secEnvVarsEnabled }}
          envFrom:
          {{- if .Values.global.envVarsEnabled }}
            - configMapRef:
                name: "{{ include "charts-dotnet-core.fullname" . }}"
          {{- end }}
          {{- if .Values.global.secEnvVarsEnabled }}
            - secretRef:
                name: "{{ include "charts-dotnet-core.fullname" . }}-secure"
          {{- end }}
          {{- end }}
          env:
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
          resources:
            {{- toYaml .Values.global.resources | nindent 12 }}
          {{- if or .Values.global.appConfigFilesEnabled .Values.global.additionalVolumesEnabled .Values.global.eso.enabled .Values.global.certificate.enabled }}
          volumeMounts:
          {{- if .Values.global.eso.enabled }}
          - mountPath: /var/run/secrets/app
            name: app-secrets-vol
            readOnly: true
          {{- end }}
          {{- if .Values.global.certificate.enabled }}
          {{- $secretNames := splitList "," .Values.global.certificate.secretNames }}
          {{- $mountPaths := splitList "," .Values.global.certificate.mountPaths }}
          {{- range $index, $secretName := $secretNames }}
          - mountPath: {{ index $mountPaths $index }}
            name: cert-volume-{{ $index }}
            readOnly: true
          {{- end }}
          {{- end }}
          {{- if .Values.global.appConfigFilesEnabled -}}
          {{- $currentScope := .}}
            {{- range $path, $_ :=  .Files.Glob .Values.global.appConfigFiles.globPattern }}
            {{- with $currentScope}}
          - mountPath: "{{- .Values.global.appConfigFiles.dir -}}{{ $path }}"
            name: configuration-volume
            subPath: "{{ $path }}"
            {{- end }}
            {{- end }}
          {{- if .Values.global.appConfigFiles.filesList -}}
            {{- $files := .Files }}
            {{- range .Values.global.appConfigFiles.filesList }}
            {{- $rangeItem := . -}}
            {{- with $ }}
          - mountPath: "{{- .Values.global.appConfigFiles.dir -}}{{ $rangeItem }}"
            name: configuration-volume
            subPath: "{{ $rangeItem }}"
            {{- end }}
            {{- end }}
            {{- end }}
            {{- end }}
          {{- if .Values.global.certificateSecretStoreEnabled }}
          - name: ecovadis-ceritificate
            mountPath: "/app/cert"
            readOnly: true
            {{- end }}
            {{- if .Values.global.additionalVolumesEnabled -}}
            {{- with .Values.global.additionalVolumesMount }}
              {{- toYaml . | nindent 10 }}
            {{- end }}
            {{- end }}
          {{- if .Values.global.fileShareMount.enabled }}
          - name: file-share
            mountPath: {{ .Values.global.fileShareMount.mountPath }}
            readOnly: {{ .Values.global.fileShareMount.readOnly }}
          {{- end }}
        {{ if .Values.global.mockingServer.enabled -}}
        - name: mockserver
          securityContext:
            {{- toYaml .Values.global.securityContext | nindent 12 }}
          image: "{{ .Values.global.mockingServer.repository }}/{{ .Values.global.mockingServer.name}}:{{ .Values.global.mockingServer.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.global.mockingServer.pullPolicy }}
          ports:
            {{- toYaml .Values.global.mockingServer.ports | nindent 12 }}
          livenessProbe:
            {{- toYaml .Values.global.mockingServer.livenessProbe | nindent 12 }}
          readinessProbe:
            {{- toYaml .Values.global.mockingServer.readinessProbe | nindent 12 }}
          {{- if .Values.global.mockingServer.startupProbe }}
          startupProbe:
            {{- toYaml .Values.global.mockingServer.startupProbe | nindent 12 }}
          {{- end }}
          {{- if .Values.global.mockingServer.envEnabled -}}
            {{- with .Values.global.mockingServer.env }}
          env:
            {{- toYaml . | nindent 12 }}
            {{- end }}
          {{- end }}
        {{- end }}          
      volumes:
      {{- if .Values.global.eso.enabled }}
      - name: app-secrets-vol
        secret:
          defaultMode: 420
          secretName: {{ include "charts-dotnet-core.fullname" . }}-secure-kv
      {{- end }}
      {{- if .Values.global.certificate.enabled }}
      {{- $secretNames := splitList "," .Values.global.certificate.secretNames }}
      {{- range $index, $secretName := $secretNames }}
      - name: cert-volume-{{ $index }}
        secret:
          defaultMode: 420
          secretName: {{ trim $secretName }}
      {{- end }}
      {{- end }}
      {{ if .Values.global.appConfigFilesEnabled -}}
      - name: "configuration-volume"
        secret:
          secretName: {{ include "charts-dotnet-core.fullname" . }}-files
      {{- end }}
      {{ if .Values.global.fileShareMount.enabled -}}
      - name: file-share
        csi:
          driver: file.csi.azure.com
          volumeAttributes:
            secretName: {{ include "charts-dotnet-core.fullname" . }}-file-share
            shareName: {{.Values.global.fileShareMount.shareName }}
            mountOptions: 'dir_mode=0777,file_mode=0777,cache=strict,actimeo=30,nosharesock,nobrl'  # optional
      {{- end }}
      {{ if .Values.global.certificateSecretStoreEnabled -}}
      - name: "ecovadis-ceritificate"
        csi:
          driver: secrets-store.csi.k8s.io
          readOnly: true
          volumeAttributes:
            secretProviderClass: "{{ .Values.global.certificateSecretStoreName }}"
      {{- end }}
      {{- if .Values.global.additionalVolumesEnabled -}}
      {{- with .Values.global.additionalVolumes }}
        {{- toYaml . | nindent 6 }}
      {{- end }}
	    {{- end }}
      {{- end }}
      {{- with .Values.global.terminationGracePeriodSeconds }}
      terminationGracePeriodSeconds: {{ toYaml . }}
      {{- end }}
      {{- with .Values.global.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.global.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.global.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
