{{- if .Values.global.eso.enabled -}}
{{- if not .Values.global.secEnvVarsEnabled -}}
{{- fail "ESO is enabled but .Values.global.secEnvVarsEnabled is not set to true." -}}
{{- end -}}
{{- if not .Values.global.secEnvVars -}}
{{- fail "ESO is enabled but .Values.global.secEnvVars is not defined. Please provide AZURE_CLIENT_ID, AZURE_CLIENT_SECRET, AZURE_TENANT_ID, and KeyVault__Url in secEnvVars." -}}
{{- end -}}
{{- if not (hasKey .Values.global.secEnvVars "AZURE_CLIENT_ID") -}}
{{- fail "ESO is enabled but AZURE_CLIENT_ID is not defined in .Values.global.secEnvVars" -}}
{{- end -}}
{{- if not (hasKey .Values.global.secEnvVars "AZURE_CLIENT_SECRET") -}}
{{- fail "ESO is enabled but AZURE_CLIENT_SECRET is not defined in .Values.global.secEnvVars" -}}
{{- end -}}
{{- if not (hasKey .Values.global.secEnvVars "AZURE_TENANT_ID") -}}
{{- fail "ESO is enabled but AZURE_TENANT_ID is not defined in .Values.global.secEnvVars" -}}
{{- end -}}
{{- if not (hasKey .Values.global.secEnvVars "KeyVault__Url") -}}
{{- fail "ESO is enabled but KeyVault__Url is not defined in .Values.global.secEnvVars" -}}
{{- end -}}
apiVersion: external-secrets.io/v1
kind: ClusterSecretStore
metadata:
  name: {{ include "charts-core.fullname" . }}-cluster-secret-store
  labels:
    {{- include "charts-core.labels" . | nindent 4 }}
spec:
  provider:
    azurekv:
      vaultUrl: {{ .Values.global.secEnvVars.KeyVault__Url }}
      authType: ServicePrincipal
      tenantId: {{ .Values.global.secEnvVars.AZURE_TENANT_ID }}
      authSecretRef:
        clientId:
          name: {{ include "charts-core.fullname" . }}-secure
          key: AZURE_CLIENT_ID
          namespace: {{ .Release.Namespace }}
        clientSecret:
          name: {{ include "charts-core.fullname" . }}-secure
          key: AZURE_CLIENT_SECRET
          namespace: {{ .Release.Namespace }}
  