{{- $cronjobs := $.Values.cronjobs }}
{{- if not $cronjobs }}
  {{- $cronjobs = list (dict) }}
{{- end }}

{{- range $index, $cronjob := $cronjobs }}
{{- if or ($cronjob.appConfigFilesEnabled) ($.Values.global.appConfigFilesEnabled) }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "charts-cron-job.fullname" (dict "root" $ "cronjob" $cronjob "index" $index) }}-files
  labels:
    chart: {{ $.Chart.Name }}-{{ $.Chart.Version | replace "+" "_" }}
    {{- include "charts-cron-job.labels" (dict "root" $ "cronjob" $cronjob) | nindent 4 }}
data:
{{- $appConfigFiles := $cronjob.appConfigFiles | default $.Values.global.appConfigFiles -}}
{{- if $appConfigFiles.globPattern -}}
  {{- $currentScope := $ }}
  {{- range $path, $_ :=  $.Files.Glob $appConfigFiles.globPattern }}
  {{- with $currentScope }}
  {{ $path }}: |-
{{ .Files.Get $path | b64enc | indent 4 }}
  {{- end }}
  {{- end }}
{{- end -}}
{{- if $appConfigFiles.filesList -}}
  {{- $files := $.Files }}
  {{- range $appConfigFiles.filesList }}
  {{- . }}: |-
{{ $files.Get . | b64enc | indent 4 }}
  {{- end }}
{{- end -}}
{{- end -}}
{{- end -}}