{{- $cronjobs := $.Values.cronjobs }}
{{- if not $cronjobs }}
  {{- $cronjobs = list (dict) }}
{{- end }}

{{- range $index, $cronjob := $cronjobs }}

{{- $global := $.Values.global }}

{{- /* CronJob configuration */ -}}
{{- $schedule := $cronjob.schedule | default $global.schedule }}
{{- $concurrencyPolicy := $cronjob.concurrencyPolicy | default $global.concurrencyPolicy }}
{{- $successfulJobsHistoryLimit := $cronjob.successfulJobsHistoryLimit | default $global.successfulJobsHistoryLimit }}
{{- $failedJobsHistoryLimit := $cronjob.failedJobsHistoryLimit | default $global.failedJobsHistoryLimit }}
{{- $ttlSecondsAfterFinished := $cronjob.ttlSecondsAfterFinished | default $global.ttlSecondsAfterFinished }}
{{- $activeDeadlineSeconds := $cronjob.activeDeadlineSeconds | default $global.activeDeadlineSeconds }}
{{- $backoffLimit := $cronjob.backoffLimit | default $global.backoffLimit }}
{{- $parallelism := $cronjob.parallelism | default $global.parallelism }}
{{- $completions := $cronjob.completions | default $global.completions }}

{{- /* Image configuration */ -}}
{{- $cronjobImage := $cronjob.image | default dict }}
{{- $imagePullSecret := $cronjobImage.imagePullSecret | default $global.image.imagePullSecret }}
{{- $imageRepository := $cronjobImage.repository | default $global.image.repository }}
{{- $imageName := $cronjobImage.name | default $global.image.name }}
{{- $imageTag := $cronjobImage.tag | default $global.image.tag | default $.Chart.AppVersion }}
{{- $imagePullPolicy := $cronjobImage.pullPolicy | default $global.image.pullPolicy }}

{{- /* Pod configuration */ -}}
{{- $automountServiceAccountToken := $cronjob.automountServiceAccountToken | default $global.automountServiceAccountToken }}
{{- $securityContext := $cronjob.securityContext | default $global.securityContext }}
{{- $resources := $cronjob.resources | default $global.resources }}
{{- $appConfigFiles := $cronjob.appConfigFiles | default $global.appConfigFiles }}
{{- $additionalValumesEnabled := $cronjob.additionalValumesEnabled | default $global.additionalValumesEnabled }}
{{- $additionalVolumes := $cronjob.additionalVolumes | default $global.additionalVolumes }}
{{- $nodeSelector := $cronjob.nodeSelector | default $global.nodeSelector }}
{{- $affinity := $cronjob.affinity | default $global.affinity }}
{{- $tolerations := $cronjob.tolerations | default $global.tolerations }}
---
apiVersion: batch/v1
kind: CronJob
metadata:
  name: {{ include "charts-cron-job.fullname" (dict "root" $ "cronjob" $cronjob "index" $index) }}
  labels:
    {{- include "charts-cron-job.labels" (dict "root" $ "cronjob" $cronjob) | nindent 4 }}
spec:
  schedule: "{{ $schedule }}"
  concurrencyPolicy: "{{ $concurrencyPolicy }}"
  successfulJobsHistoryLimit: {{ $successfulJobsHistoryLimit }}
  failedJobsHistoryLimit: {{ $failedJobsHistoryLimit }}
  jobTemplate:
    spec:
      ttlSecondsAfterFinished: {{ $ttlSecondsAfterFinished }}
      activeDeadlineSeconds: {{ $activeDeadlineSeconds }}
      backoffLimit: {{ $backoffLimit }}
      parallelism: {{ $parallelism }}
      {{- if and $completions (lt (int $parallelism) 2) }}
      completions: {{ $completions }}
      {{- end }}
      template:
        metadata:
          labels:
            {{- include "charts-cron-job.labels" (dict "root" $ "cronjob" $cronjob) | nindent 12 }}
        spec:
          {{- if $imagePullSecret }}
          imagePullSecrets:
          - name: "{{ $imagePullSecret }}"
          {{- end }}
          serviceAccountName: {{ include "charts-cron-job.serviceAccountName" (dict "root" $ "cronjob" $cronjob "index" $index) }}
          automountServiceAccountToken: {{ $automountServiceAccountToken }}
          containers:
          - name: {{ $.Chart.Name }}
            securityContext:
              {{- toYaml $securityContext | nindent 14 }}
            image: "{{ $imageRepository }}/{{ $imageName }}:{{ $imageTag }}"
            imagePullPolicy: {{ $imagePullPolicy }}
            {{- if $cronjobImage.command }}
            command: {{- toYaml $cronjobImage.command | nindent 14 }}
            {{- else if $global.image.command }}
            command: {{- toYaml $global.image.command | nindent 14 }}
            {{- end }}
            {{- if $cronjobImage.args }}
            args: {{- toYaml $cronjobImage.args | nindent 14 }}
            {{- else if $global.image.command }}
            args: {{- toYaml $global.image.args | nindent 14 }}
            {{- end }}

            {{- if or $cronjob.envVarsEnabled $cronjob.secEnvVarsEnabled $global.envVarsEnabled $global.secEnvVarsEnabled}}
            envFrom:
            {{- if $global.envVarsEnabled }}
              - configMapRef:
                  name: {{ $global.fullnameOverride | default (printf "%s-charts-core" $.Release.Name) }}
                  optional: false
            {{- end }}
            {{- if $global.secEnvVarsEnabled }}
              - secretRef:
                  name: {{ $global.fullnameOverride | default (printf "%s-charts-core" $.Release.Name) }}-secure
                  optional: false
            {{- end }}
            {{- end }}
            resources:
              {{- toYaml $resources | nindent 14 }}
            {{- if or $cronjob.appConfigFilesEnabled $cronjob.additionalValumesEnabled $global.appConfigFilesEnabled $global.additionalVolumesEnabled }}
            volumeMounts:
            {{- if $cronjob.additionalValumesEnabled -}}
            {{- with $cronjob.additionalVolumesMount }}
              {{- toYaml . | nindent 12 }}
            {{- end }}
            {{- else if $global.additionalValumesEnabled -}}
            {{- with $global.additionalVolumesMount }}
              {{- toYaml . | nindent 12 }}
            {{- end }}
            {{- end }}
            {{- $currentScope := $}}
            {{- if $appConfigFiles.globPattern }}
              {{- range $path, $_ :=  $.Files.Glob $appConfigFiles.globPattern }}
              {{- with $currentScope}}
            - mountPath: "{{- $appConfigFiles.dir -}}{{ $path }}"
              name: configuration-volume
              subPath: "{{ $path }}"
              {{- end }}
              {{- end }}
            {{- end }}
            {{- if $appConfigFiles.filesList -}}
              {{- $files := $.Files }}
              {{- range $appConfigFiles.filesList }}
              {{- $rangeItem := . -}}
              {{- with $ }}
            - mountPath: "{{- $appConfigFiles.dir -}}{{ $rangeItem }}"
              name: configuration-volume
              subPath: "{{ $rangeItem }}"
              {{- end }}
              {{- end }}
            {{- end }}
          volumes:
          - name: "configuration-volume"
            secret:
              secretName: {{ include "charts-cron-job.fullname" (dict "root" $ "cronjob" $cronjob "index" $index) }}-files
          {{- end }}
          {{- if $additionalValumesEnabled -}}
          {{- with $additionalVolumes }}
            {{- toYaml . | nindent 10 }}
          {{- end }}
          {{- end }}
          restartPolicy: Never
          {{- with $nodeSelector }}
          nodeSelector:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with $affinity }}
          affinity:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with $tolerations }}
          tolerations:
            {{- toYaml . | nindent 12 }}
          {{- end }}
{{- end }}