apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "charts-app-reverse-proxy.fullname" . }}-reverse-proxy
  labels:
    {{- include "charts-app-reverse-proxy.labels" . | nindent 4 }}
data: 
    server_conf: |-
        server {
            listen      {{ .Values.global.service.port }} default_server ssl;
            server_name {{ .Values.global.ingressRoutes.subdomainName }}.{{ .Values.global.ingressRoutes.domain }};
            {{- if .Values.global.certificate.enabled }}
            ssl_certificate {{ .Values.global.certificate.mountPath }}/tls.crt;
            ssl_certificate_key {{ .Values.global.certificate.mountPath }}/tls.key;
            {{- else }}
            ssl_certificate /etc/ssl/ca.crt;
            ssl_certificate_key /etc/ssl/tls.key;
            {{- end }}
            ssl_verify_depth 2;
            ssl_protocols TLSv1.2;
            proxy_buffer_size 128k;
            proxy_buffers 4 256k;
            proxy_busy_buffers_size 256k;
            large_client_header_buffers 8 64k;
            client_body_buffer_size     128k;
            client_header_buffer_size   256k;
            
            location / {
                proxy_pass                           http://localhost:{{ .Values.global.image.application.containerPort }};
                proxy_set_header X-Forwarded-For     $proxy_add_x_forwarded_for;
                proxy_set_header X-Real-IP           $remote_addr;
                proxy_set_header X-Forwarded-Proto   https;
                proxy_read_timeout                   1200;
                client_max_body_size                 256M;
                client_body_buffer_size              128k;
            }
        }