apiVersion: keda.sh/v1alpha1
kind: ScaledJob
metadata:
  name: {{ .Values.buildAgentName }}
  namespace: {{ .Values.aks.namespace }}
spec:
  jobTargetRef:
    ttlSecondsAfterFinished: 30
    backoffLimit: 0
    template:
      metadata:
        annotations:
          {{- if .Values.linuxSidecarContainers.buildkit.enabled }}
          container.apparmor.security.beta.kubernetes.io/buildkitd: unconfined
          {{- end }}
          container.apparmor.security.beta.kubernetes.io/{{ .Values.buildAgentName }}: {{ .Values.agent.apparmor }}
          {{- if .Values.linuxSidecarContainers.docker.enabled}}
          container.apparmor.security.beta.kubernetes.io/dind: {{ .Values.agent.apparmor }}
          {{- end }}
        labels:
          azure.workload.identity/use: "true"
      spec:
        # For now it's explicitedy set to true to avoid issues when it becomes false by default in future kubernetes versions
        # hostUsers: true
        shareProcessNamespace: true
        serviceAccountName: "svc-acc-{{ .Values.buildAgentName }}"
        restartPolicy: Never
        terminationGracePeriodSeconds: {{ .Values.agent.terminationGracePeriodSeconds }}
        volumes:
        {{- if .Values.agent.os | eq "linux" }}
          {{- if .Values.linuxSidecarContainers.docker.enabled }}
          - name: dind-certs
            emptyDir: {}
          {{- end }}
          {{- if .Values.linuxSidecarContainers.buildkit.enabled }}
          - name: buildkitd-certs
            emptyDir: {}
          - name: buildkitd-workspace
            emptyDir: {}
          {{- end }}
        {{- end }}
        {{- if .Values.agent.os | eq "windows" }}
          - name: agentmount
            emptyDir: {}
          {{- if .Values.agent.useHostVolumeForAdoCache }}
          - name: ado-task-cache
            hostPath:
              path: "C:\\adoTaskCache"
              type: DirectoryOrCreate
          {{- end }}
        {{- end }}
        nodeSelector:
          pool: "{{ .Values.aks.agentPool }}"
        {{- if .Values.aks.sysbox.enabled }}
        runtimeClassName: "sysbox-runc-{{ .Values.buildAgentName }}"
        {{- end }}
        {{- if or (eq (include "anyEnabled" .Values.linuxSidecarContainers) "true") (eq (include "anyEnabled" .Values.windowsSidecarContainers) "true") }}
        initContainers:
        {{- end }}
          {{- if .Values.linuxSidecarContainers.buildkit.enabled }}
          - name: generate-mtls-cert
            image: {{ .Values.devops.ACR_NAME }}/{{ .Values.linuxSidecarContainers.mtlsGenerator.image }}:{{ .Values.linuxSidecarContainers.mtlsGenerator.tag }}
            env:
              - name: CERT_HOSTNAMES
                value: "{{ .Values.linuxSidecarContainers.mtlsGenerator.certHostnames }}"
              - name: CERT_DESTINATION
                value: "{{ .Values.linuxSidecarContainers.mtlsGenerator.certDestination }}"
            volumeMounts:
              - name: buildkitd-certs
                mountPath: {{ .Values.linuxSidecarContainers.mtlsGenerator.certDestination }}
          {{- end }}
          {{- if .Values.linuxSidecarContainers.buildkit.enabled }}
          - name: buildkitd
            image: {{ .Values.devops.ACR_NAME }}/dockerhub/moby/{{ .Values.linuxSidecarContainers.buildkit.image }}:{{ .Values.linuxSidecarContainers.buildkit.tag }}
            imagePullPolicy: IfNotPresent
            restartPolicy: Always
            securityContext:
              runAsUser: 1000
              runAsGroup: 1000
              capabilities:
                add:
                  - SYS_PTRACE
                  - KILL
              seccompProfile:
                type: Unconfined
            command: ["/bin/sh", "-c"]
            args:
              - |
                echo "[CMD] Starting buildkitd...";
                rootlesskit buildkitd \
                  --oci-worker-no-process-sandbox \
                  --addr tcp://0.0.0.0:1234 \
                  --addr unix:///run/user/1000/buildkit/buildkitd.sock \
                  --tlscacert {{ .Values.linuxSidecarContainers.mtlsGenerator.certDestination }}/server/ca.pem \
                  --tlscert {{ .Values.linuxSidecarContainers.mtlsGenerator.certDestination }}/server/cert.pem \
                  --tlskey {{ .Values.linuxSidecarContainers.mtlsGenerator.certDestination }}/server/key.pem
            volumeMounts:
              - name: buildkitd-certs
                mountPath: {{ .Values.linuxSidecarContainers.mtlsGenerator.certDestination }}
                readOnly: true
              - name: buildkitd-workspace
                mountPath: /home/user/.local/share/buildkit
          {{- end }}
          {{- if .Values.linuxSidecarContainers.docker.enabled }}
          - name: dind
            image: {{ .Values.devops.ACR_NAME }}/dockerhub/library/{{ .Values.linuxSidecarContainers.docker.image }}:{{ .Values.linuxSidecarContainers.docker.tag }}
            restartPolicy: Always
            securityContext:
              privileged: true
            env: 
              - name: DOCKER_TLS_CERTDIR
                value: /dind-certs
            volumeMounts:
              - mountPath: /dind-certs
                name: dind-certs
          {{- end }}
          {{- if .Values.windowsSidecarContainers.sqlserver.enabled }}
          - name: sqlserver
            image: {{ .Values.devops.ACR_NAME }}/{{ .Values.windowsSidecarContainers.sqlserver.image }}:{{ .Values.windowsSidecarContainers.sqlserver.tag }}
            restartPolicy: Always
          {{- end }}
        containers:
          # PROTIP - In Keda agent container has to be first, otherwise it will not be able to read value from AZP_URL
        - name: {{ .Values.buildAgentName }}
          image: {{ .Values.devops.ACR_NAME }}/{{ .Values.agent.image.imageName }}:{{ .Values.agent.image.imageVersion }}
          {{- if .Values.agent.debugMode }}
            {{- if eq .Values.agent.os "windows" }}
          command:
            - "powershell"
            - "-Command"
            - "Write-Host 'Debug container started'; while ($true) { Start-Sleep -Seconds 3600 }"
            {{- end }}
            {{- if eq .Values.agent.os "linux" }}
          command:
            - "/bin/sh"
            - "-c"
            - |
              echo "Debug container started"
              sleep infinity
            {{- end }}
          {{- end }}
          {{- if and (eq .Values.agent.os "windows") (default false .Values.agent.preStopHook.enabled) }}
          lifecycle:
            preStop:
              exec:
                command:
                  - powershell.exe
                  - -NoLogo
                  - -NoProfile
                  - -Command
                  - |
                    $token = Get-Content C:\azp\.token
                    while($true) {
                      C:\azp\agent\config.cmd remove --unattended --auth PAT --token $token >> C:\azp\cleanup.log 2>&1
                      if ($LASTEXITCODE -eq 0) {
                        break
                      }
                      Start-Sleep -Seconds 30
                    }
          {{- end }}
          imagePullPolicy: IfNotPresent
          {{- with .Values.agent.securityContext }}
          securityContext:
          {{ toYaml . | nindent 12 }}
          {{- end }}
          resources:
            requests:
              memory: {{ .Values.aks.memoryRequest }}
              cpu: {{ .Values.aks.cpuRequest }}
            limits:
              memory: {{ .Values.aks.memoryLimit }}
              {{- if .Values.aks.cpuLimit }}
              cpu: {{ .Values.aks.cpuLimit }}
              {{- end }}
          env:
            {{- if .Values.agent.os | eq "linux" }}
              {{- if .Values.linuxSidecarContainers.docker.enabled }}
            - name: DOCKER_HOST
              value: "tcp://localhost:2376"
            - name: DOCKER_CERT_PATH
              value: "/dind-certs/client"
            - name: DOCKER_TLS_VERIFY
              value: "1"
            - name: DOCKER_ENABLED
              value: "TRUE"
              {{- end }}
              {{- if .Values.linuxSidecarContainers.buildkit.enabled }}
            - name: BUILDKIT_ENABLED
              value: "TRUE"
            - name: BUILDX_BUILDER
              value: buildkitd
              {{- end }}
            {{- end }}
            - name: NODE_INTERNAL_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.hostIP
            - name: NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
            - name: AZP_IGNORE_SECRETS_SHORTER_THAN
              value: "4"
            - name: AZP_URL
              valueFrom:
                secretKeyRef:
                  name: "azdevops-{{ .Values.buildAgentName }}"
                  key: AZP_URL
            - name: AZP_POOL
              valueFrom:
                secretKeyRef:
                  name: "azdevops-{{ .Values.buildAgentName }}"
                  key: AZP_POOL
            - name: ACR_NAME
              valueFrom:
                secretKeyRef:
                  name: "azdevops-{{ .Values.buildAgentName }}"
                  key: ACR_NAME
            - name: AZP_POOL_ID
              value: "{{ .Values.devops.poolID }}"
            {{- if .Values.agent.os | eq "windows" }}
            - name: AZP_WORK
              value: "C:/builds"
              {{- if .Values.agent.remoteArtifactsShare.enabled }}
            - name: BLD_ARTIFACTS_SA_RG
              value: {{ .Values.agent.remoteArtifactsShare.fileShareResourceGroup }}
            - name: BLD_ARTIFACTS_SA_NAME
              value: {{ .Values.agent.remoteArtifactsShare.fileShareStorageAccountName }}
            - name: BLD_ARTIFACTS_SA_SHARE
              value: {{ .Values.agent.remoteArtifactsShare.fileShareName }}
              {{- end }}
            {{- end }}
            {{- with .Values.agent.additionalEnvVars }}
            {{ toYaml . | nindent 12 }}
            {{- end }}
          volumeMounts:
            {{- if .Values.agent.os | eq "linux" }}
              {{- if .Values.linuxSidecarContainers.buildkit.enabled }}
            - name: buildkitd-certs
              mountPath: {{ .Values.linuxSidecarContainers.mtlsGenerator.certDestination }}
              readOnly: true
              {{- end}}
              {{- if .Values.linuxSidecarContainers.docker.enabled }}
            - name: dind-certs
              mountPath: /dind-certs
              readOnly: true
              {{- end }}
            {{- end }}
            {{- if .Values.agent.os | eq "windows" }}
            - name: agentmount
              mountPath: "C:/builds"
              readOnly: false
              {{- if .Values.agent.useHostVolumeForAdoCache }}
            - name: ado-task-cache
              mountPath: "C:/builds/_tasks"
              readOnly: false
              {{- end }}
            {{- end }}
        tolerations:
        - key: "pool"
          operator: "Equal"
          value: {{ .Values.aks.agentPool }}
          effect: "NoSchedule"
  pollingInterval: 10
  successfulJobsHistoryLimit: 1
  failedJobsHistoryLimit: 5
  minReplicaCount: {{ .Values.keda.minReplicas }}
  maxReplicaCount: {{ .Values.keda.maxReplicas }}
  scalingStrategy:
    strategy: "default"
  triggers:
  - type: azure-pipelines
    metadata:
      poolName: {{ .Values.devops.AZP_POOL }}
      organizationURLFromEnv: "AZP_URL"
    authenticationRef:
      name: "trigger-auth-{{ .Values.buildAgentName }}"