{{- if .Values.agent.staging.enabled }}
apiVersion: keda.sh/v1alpha1
kind: ScaledJob
metadata:
  name: "{{ .Values.buildAgentName }}-staging"
  namespace: {{ .Values.aks.namespace }}
spec:
  jobTargetRef:
    ttlSecondsAfterFinished: 30
    backoffLimit: 0
    template:
      metadata:
        annotations:
          {{- if .Values.sidecarContainers.buildkit.enabled }}
          container.apparmor.security.beta.kubernetes.io/buildkitd: unconfined
          {{- end }}
          container.apparmor.security.beta.kubernetes.io/{{ .Values.buildAgentName }}-staging: {{ .Values.agent.apparmor }}
          {{- if .Values.sidecarContainers.docker.enabled}}
          container.apparmor.security.beta.kubernetes.io/dind: {{ .Values.agent.apparmor }}
          {{- end }}
        labels:
          azure.workload.identity/use: "true"
      spec:
        # For now it's explicitedy set to true to avoid issues when it becomes false by default in future kubernetes versions
        # hostUsers: true
        shareProcessNamespace: true
        serviceAccountName: "svc-acc-{{ .Values.buildAgentName }}"
        restartPolicy: Never
        terminationGracePeriodSeconds: 3600
        volumes:
        {{- if .Values.agent.os | eq "linux" }}
          {{- if .Values.sidecarContainers.docker.enabled }}
          - name: dind-certs
            emptyDir: {}
          {{- end }}
          {{- if .Values.sidecarContainers.buildkit.enabled }}
          - name: buildkitd-certs
            emptyDir: {}
          - name: buildkitd-workspace
            emptyDir: {}
          {{- end }}
        {{- end }}
        {{- if .Values.agent.os | eq "windows" }}
          - name: agentmount
            emptyDir: {}
        {{- end }}
        nodeSelector:
          pool: "{{ .Values.aks.agentPool }}"
        {{- if .Values.aks.sysbox.enabled }}
        runtimeClassName: "sysbox-runc-{{ .Values.buildAgentName }}"
        {{- end }}
        {{- if .Values.agent.os | eq "linux" }}
        initContainers:
          {{- if .Values.sidecarContainers.buildkit.enabled }}
          - name: generate-mtls-cert
            image: busybox:1.37
            command:
              - /bin/sh
              - -c
              - |
                cd ~ &&
                wget https://github.com/FiloSottile/mkcert/releases/download/v1.4.4/mkcert-v1.4.4-linux-amd64 -O mkcert &&
                chmod +x mkcert &&
                mkdir -p -- /certs/server /certs/client &&
                CAROOT=$(pwd) ./mkcert -cert-file /certs/server/cert.pem -key-file /certs/server/key.pem 127.0.0.1 &&
                cp rootCA.pem /certs/server/ca.pem &&
                CAROOT=$(pwd) ./mkcert -client -cert-file /certs/client/cert.pem -key-file /certs/client/key.pem client &&
                cp rootCA.pem /certs/client/ca.pem &&
                chmod 744 /certs/client/ca.pem /certs/client/cert.pem /certs/client/key.pem /certs/server/ca.pem /certs/server/cert.pem /certs/server/key.pem
            volumeMounts:
              - name: buildkitd-certs
                mountPath: /certs
          {{- end }}
          {{- if .Values.sidecarContainers.buildkit.enabled }}
          - name: buildkitd
            image: {{ .Values.devops.ACR_NAME }}/dockerhub/moby/{{ .Values.sidecarContainers.buildkit.image }}
            imagePullPolicy: IfNotPresent
            restartPolicy: Always
            securityContext:
              runAsUser: 1000
              runAsGroup: 1000
              capabilities:
                add:
                  - SYS_PTRACE
                  - KILL
              seccompProfile:
                type: Unconfined
            command: ["/bin/sh", "-c"]
            args:
              - |
                echo "[CMD] Starting buildkitd...";
                rootlesskit buildkitd \
                  --oci-worker-no-process-sandbox \
                  --addr tcp://0.0.0.0:1234 \
                  --addr unix:///run/user/1000/buildkit/buildkitd.sock \
                  --tlscacert /certs/server/ca.pem \
                  --tlscert /certs/server/cert.pem \
                  --tlskey /certs/server/key.pem
            volumeMounts:
              - name: buildkitd-certs
                mountPath: /certs
                readOnly: true
              - name: buildkitd-workspace
                mountPath: /home/user/.local/share/buildkit
          {{- end }}
          {{- if .Values.sidecarContainers.docker.enabled }}
          - name: dind
            image: {{ .Values.sidecarContainers.docker.image | default "docker:dind" }}
            restartPolicy: Always
            securityContext:
              privileged: true
            env: 
              - name: DOCKER_TLS_CERTDIR
                value: /dind-certs
            volumeMounts:
              - mountPath: /dind-certs
                name: dind-certs
          {{- end }}
        {{- end }}
        containers:
          # PROTIP - In Keda agent container has to be first, otherwise it will not be able to read value from AZP_URL
        - name: "{{ .Values.buildAgentName }}-staging"
          image: {{ .Values.devops.ACR_NAME }}/{{ .Values.agent.staging.imageName }}:{{ .Values.agent.staging.imageVersion }}
          imagePullPolicy: IfNotPresent
          {{- with .Values.agent.securityContext }}
          securityContext:
          {{ toYaml . | nindent 12 }}
          {{- end }}
          resources:
            requests:
              memory: {{ .Values.aks.memoryRequest }}
            limits:
              memory: {{ .Values.aks.memoryLimit }}
          env:
            {{- if .Values.agent.os | eq "linux" }}
              {{- if .Values.sidecarContainers.docker.enabled }}
            - name: DOCKER_HOST
              value: "tcp://localhost:2376"
            - name: DOCKER_CERT_PATH
              value: "/dind-certs/client"
            - name: DOCKER_TLS_VERIFY
              value: "1"
              {{- end }}
              {{- if .Values.sidecarContainers.docker.enabled }}
            - name: DOCKER_ENABLED
              value: "TRUE"
              {{- end }}
              {{- if .Values.sidecarContainers.buildkit.enabled }}
            - name: BUILDKIT_ENABLED
              value: "TRUE"
            - name: BUILDX_BUILDER
              value: buildkitd
              {{- end }}
            {{- end }}
            - name: AZP_IGNORE_SECRETS_SHORTER_THAN
              value: "4"
            - name: AZP_URL
              valueFrom:
                secretKeyRef:
                  name: "azdevops-{{ .Values.buildAgentName }}"
                  key: AZP_URL
            - name: AZP_POOL
              valueFrom:
                secretKeyRef:
                  name: "azdevops-{{ .Values.buildAgentName }}"
                  key: AZP_POOL
            - name: ACR_NAME
              valueFrom:
                secretKeyRef:
                  name: "azdevops-{{ .Values.buildAgentName }}"
                  key: ACR_NAME
            {{- if .Values.agent.os | eq "windows" }}
            - name: AZP_WORK
              value: "C:/builds"
              {{- if .Values.agent.remoteArtifactsShare.enabled }}
            - name: BLD_ARTIFACTS_SA_RG
              value: {{ .Values.agent.remoteArtifactsShare.fileShareResourceGroup }}
            - name: BLD_ARTIFACTS_SA_NAME
              value: {{ .Values.agent.remoteArtifactsShare.fileShareStorageAccountName }}
            - name: BLD_ARTIFACTS_SA_SHARE
              value: {{ .Values.agent.remoteArtifactsShare.fileShareName }}
              {{- end }}
            {{- end }}
          volumeMounts:
            {{- if .Values.agent.os | eq "linux" }}
              {{- if .Values.sidecarContainers.buildkit.enabled }}
            - name: buildkitd-certs
              mountPath: /certs
              readOnly: true
              {{- end}}
              {{- if .Values.sidecarContainers.docker.enabled }}
            - name: dind-certs
              mountPath: /dind-certs
              readOnly: true
              {{- end }}
            {{- end }}
            {{- if .Values.agent.os | eq "windows" }}
            - name: agentmount
              mountPath: "C:/builds"
              readOnly: false
            {{- end }}
        tolerations:
        - key: "pool"
          operator: "Equal"
          value: {{ .Values.aks.agentPool }}
          effect: "NoSchedule"
  pollingInterval: 10
  successfulJobsHistoryLimit: 1
  failedJobsHistoryLimit: 5
  minReplicaCount: {{ .Values.keda.minReplicas }}
  maxReplicaCount: {{ .Values.keda.maxReplicas }}
  scalingStrategy:
    strategy: "default"
  triggers:
  - type: azure-pipelines
    metadata:
      poolName: {{ .Values.devops.AZP_POOL }}
      organizationURLFromEnv: "AZP_URL"
    authenticationRef:
      name: "trigger-auth-{{ .Values.buildAgentName }}"
{{- end }}