apiVersion: v1
kind: ServiceAccount
metadata:
  annotations:
    azure.workload.identity/client-id: {{ $.Values.agentAadIdentity }}
    meta.helm.sh/release-name: "{{ .Release.Name }}"
    meta.helm.sh/release-namespace: "{{ .Release.Namespace }}"
  labels:
    azure.workload.identity/use: "true"
  name: "svc-acc-{{ .Values.buildAgentName }}"
  namespace: "{{ .Release.Namespace }}"