apiVersion: keda.sh/v1alpha1
kind: TriggerAuthentication
metadata:
  name: "trigger-auth-{{ .Values.buildAgentName }}"
  namespace: {{ .Values.aks.namespace }}
spec:
  podIdentity:
    provider: azure-workload
    identityId: {{ $.Values.keda.aadIdentity }}
    identityTenantId: {{ .Values.tenantId }}
---